[2017-09-19 02:42] gtalusan opened #1 "polling time"
Hi, this is an interesting project.  I'm trying to use it to harvest information from some BLE sensors that I've strewn about my work area.  Their intent is to be low powered (i.e., sleeping most of the time) and only wakeup to provide sensor data when needed.

For example, I have a sensor that sleeps at about 0.37mA but when it takes in a connection it'll jump up to about 4mA to provide data.  On

[2017-09-19 23:38] dbaba commented on #1
Thank you for the comment.
Your suggestion sounds good and I try to implement the feature.
The reason why the node frequently tries to connect to all known peripherals is to collect as many notify events as possible from many devices (more than 10).
However, as you said, if you don't want the node to propagate the notify events, it's indeed desirable that the node does nothing unless it receives a

[2017-11-06 13:51] anwarbashir opened #2 "generic-ble usage"
Hi,

I have installed Generic BLE onto my Raspberry Pi - Node-RED and they appear as nodes. The installation seems to be fine.

I then tried to import the demo flow but I just get blank.

I wish to know how to configure the nodes so that I can send an instruction from the out node and receive it on the in node. I have the ip addess of my bluetooth controller using bluetoothctrl command. Can you pr

[2017-11-06 17:47] anwarbashir commented on #2
Hi,

Actually the flow has appeared on a seperate tab. I am just unsure about how to use it to communicate information using the in/out nodes. I have Raspberry Pi3 (jessie) and I have connected and paired with my windows 10 laptop successfully. Not sure if this is needed, but can I use node-red generic in node to send data to Raspberry Pi out node to instruct to say switch led on/off?

Can anyone

[2017-11-07 11:30] dbaba commented on #2
I responded to your question on the NR Google Group. As I mentioned there, this node doesn't support BLE peripheral functionalities. You need to implement such the functionalities by other means.

The use of the node is very similar to the Puchthrough's LightBlue Explorer app, which is available for both [iOS](https://itunes.apple.com/us/app/lightblue-explorer/id557428110?mt=8) and [Android](https

[2017-11-07 11:30] #2 closed

[2017-11-07 15:33] anwarbashir commented on #2
Hi Daba, thank you - I will look into LightBlue to get a better understanding. Many Thanks.

[2017-11-08 01:04] dbaba commented on #2
Just to try this node, you can let the node to connect to your iPhone or Android phone from RPi3 via BLE. On the configuration dialog, your phone's name should appear if it advertises its name.
Or you can use [Ble nano2](https://redbear.cc/product/ble-nano-kit-2.html) for using much more things like turning LED on/off though mbed programming is required.

[2017-11-08 10:57] anwarbashir commented on #2
Hi Daisuke,

Thank you for additional information. In terms of connecting via iPhone or
Adriod Phone, I switch BLE on in my phone...

1. Confirmed that my Android phone is visible

​
2. Entered the MAC address in your generic in node

I am not sure what I am doing and whether or not this is the correct way to
use your node? Can I connect in this way or could you provide further
instruction.

In te

[2017-11-09 04:12] dbaba commented on #2
Ok. I'm going to add a small step-by-step instruction for configuring the node to README page within a couple of days. Just moment.

[2017-11-09 19:08] anwarbashir commented on #2
Hi Daisuke,

That will be a great help to people like me. I look forward to reading the
instructions.

Many Thanks
Anwar

On 9 November 2017 at 04:12, Daisuke Baba <notifications@github.com> wrote:

[2017-11-11 02:31] dbaba commented on #2
Finished the doc update, refer to https://www.npmjs.com/package/node-red-contrib-generic-ble

The info tab on the editor UI shows help contents as well.

[2017-11-11 17:24] anwarbashir commented on #2
Hi Daisuke,

Looks good, I will try to configure and let you know how I get on.

Kind Regards
Anwar

On 11 November 2017 at 02:31, Daisuke Baba <notifications@github.com> wrote:

[2017-11-16 08:47] SeanStayn opened #3 "TI sensor tag doesn't work"
Nice project! I love it! But if I use your example flow with the TI sensortag, I get the following output.

I find the tag in the Generic BLE input and I get all GATT Characteristics. All custom type looks like this:

But I think it is okay.

Under the Generic BLE Input the state switches every 3 - 5 seconds from connected to disconnected and again to connected.

I have "Selected from scan result"

[2017-11-16 08:51] SeanStayn commented on #3
This is an additional error:

[2017-11-16 09:46] dbaba commented on #3
Thanks for the report. Unfortunately, I don't have a TI Sensor Tag device so I need to purchase one to look into the issue. Which model do you have?
- [CC2650STK ](http://www.ti.com/tool/CC2650STK?HQS=TI-null-null-mousermode-df-pf-null-wwe&DCM=yes)
- [CC2541 SensorTag(seems to be obsolete)](http://www.ti.com/tool/cc2541dk-sensor)

[2017-11-16 09:51] SeanStayn commented on #3
Thank you. I use the CC2650STK. I'm new with node red, but perhaps I can help you!? I'm confirm with BLE and some programming languages, Javascript as well.

[2017-11-16 23:20] dbaba commented on #3
Good to hear that! I'll ask you some help.
I purchased the device but it takes a couple of days to ship it, just moment for further progress.

[2017-11-24 08:48] dbaba commented on #3
@SeanStayn can you please try [develop.zip](https://github.com/CANDY-LINE/node-red-contrib-generic-ble/files/1501025/develop.zip)? Unzip it and you can get `node-red-contrib-generic-ble-1.0.3.tgz`.

[code]
Replace `path/to/` with a path to the unzipped file.

I tested this version with CC2650STK. Fixed some issues and add new features. Let me know if it works.

[2017-11-28 08:57] dbaba commented on #3
@SeanStayn I published a new release including the above fix and some improvements. Try v2.0.0 rather than the attached zip file. File a new ticket if you get stuck with the latest version.

[2017-11-28 08:57] #3 closed

[2017-11-28 09:02] dbaba commented on #1
@gtalusan I've released a new version of Generic BLE node (v2.0.0). With this version, inject node and/or other nodes are now able to trigger Generic BLE node to connect a peripheral. See the help text for Generic BLE in node.

[2017-11-28 09:02] #1 closed

[2018-01-05 19:02] misosec opened #4 "Cannot write"
Hello,
when I try to send this message, nothing happens, but when I send `char-write-req 0x0012 0064` using terminal gatttol, it works. To setup Generic BLE node I used `Select from scan result` option.

_msg.payload:_
[code]
Is msg format wrong? Or it's something else?

_Note:_
- device I try to write from: Raspberry Pi 3B
- device I try to write to: Vogel's Motion Mount (motorized TV wall mount)

[2018-01-06 14:01] JohnnyOpcode commented on #4
More examples of getting/setting characteristics et al would be helpful as well.

Thanks

[2018-01-09 05:06] dbaba commented on #4
@misosec Can you please remove `0x` from `0x0012`? This node assumes the given UUID as a hex string without `0x` prefix.

[2018-01-09 05:10] dbaba commented on #4
@JohnnyOpcode Can you tell me more about examples you expect?

[2018-01-09 11:14] misosec commented on #4
@dbaba
Hello,
it didn't help.
In ma case, `0x012` is handle and `0064` is value. I tried replace handle with `UUID - c005fa0006514800b000000000000000` and `Service UUID - 3e6fe65ded7811e4895e00026fd5c52c`. Nothing helped.
What am I doing wrong?

Thank you.

[2018-01-09 14:26] JohnnyOpcode commented on #4
@dbaba how about some solid examples of setting up a BLE Midi device characteristic(s). Anything that shows writing and subsequent reading of characteristics is where I am currently hung up on like @misosec is. Many thanks in advance.

[2018-01-10 08:54] dbaba commented on #4
@misosec Can you find the UUID to write in the GATT Characteristics dialog? In order to read/write  characteristics, make sure the corresponding UUIDs appear in the list. The following pink rectangle frames show UUIDs, which are used for characteristics read/write.

<img width="502" alt="sensortag" src="https://user-images.githubusercontent.com/1858156/34763547-ed5c5836-f62e-11e7-9c9e-2b344bd1f152

[2018-01-10 09:12] dbaba commented on #4
@JohnnyOpcode have you tried the built-in example flow? The example flow is available via [menu] -> Import -> Examples -> generic ble -> 01-read-write.
Do you mean you need more example flow file beside this?

BTW, BLE MIDI sounds interesting. But this node doesn't help for the BLE MIDI use as the node connects/disconnects a BLE device periodically. I think I need to add an option for the node to

[2018-01-10 09:50] misosec commented on #4
@dbaba
Hello again,
so here it what I am working with:

![image-001 10-43-28](https://user-images.githubusercontent.com/29805226/34766101-a7f4dc68-f5f3-11e7-82d6-08d56cddfd1f.png)

![inkedimage-001 10-44-03 _li](https://user-images.githubusercontent.com/29805226/34766114-b8f0de40-f5f3-11e7-807b-29e02f0a0224.jpg)

and my msg.payload:

[code]
It didnt work... :-(
Any ideas?
Thanks.

[2018-01-10 12:57] JohnnyOpcode commented on #4
@dbaba so that is what I may be experiencing with the Midi? Constant BLE disconnection? My writes (config characteristic) is formatted as indicated but I keep losing the connection by the sounds of it. Is there a way for me to fix that easily?

[2018-01-11 08:25] dbaba commented on #4
@misosec Can you post your flow?

[2018-01-11 08:28] dbaba commented on #4
@JohnnyOpcode I think so. The node disconnects constantly in order to access multiple BLE devices with a single connection. To fix it, I need to modify the code. Give me time to do so.

[2018-01-11 08:51] misosec commented on #4
@dbaba Here it is:
![image 001](https://user-images.githubusercontent.com/29805226/34816290-d0fff52c-f6b4-11e7-853a-f716c24ea0d3.png)

![image 002](https://user-images.githubusercontent.com/29805226/34816322-e4bc5560-f6b4-11e7-84bf-657808e5cd2c.png)

![inkedimage 003_li](https://user-images.githubusercontent.com/29805226/34816334-edbf8150-f6b4-11e7-9dfd-890aa20781a5.jpg)

Thank you for your time.

[2018-01-14 10:36] misosec commented on #4
Any ide what can be wrong with my setup?

Thanks.

[2018-01-15 06:23] dbaba commented on #4
@misosec let me check the write action again. And can you tell me the BLE device model you're using? Does Vogel's Motion Mount have BLE? I cannot find the info.

[2018-01-15 08:00] misosec commented on #4
@dbaba
Hello, I cannot find any info about Vogel's MotionMount neither but `nRF Connect app` shows this and gatttool shows `[xx:xx:xx:xx][LE]>`, so I suppouse it has BLE.

![inked2018-01-15 08 46 48_li](https://user-images.githubusercontent.com/29805226/34931952-5098b5b6-f9d1-11e7-97ca-c548e4a1cee0.jpg)

Thank you.

[2018-01-16 09:40] alimirzaei opened #5 "scan result is disabled for me"
I can not check "Select from scan result" square. It shows a ban sign to me!

[2018-01-17 11:04] dbaba commented on #4
@misosec I found the cause, it's a bug. Thanks for your report. Can you please try the latest version (2.0.2)?

[2018-01-17 11:09] dbaba commented on #5
This is because your computer failed to detect any BLE devices. If you have a BLE device near your computer, try turning the BLE device off/on to wake it up and close Generic node dialog then re-open it , which will start scanning BLE devices.

[2018-01-17 11:09] #5 closed

[2018-01-18 11:20] misosec commented on #4
It doesn't work :-(
I tried:
[code]
then
[code]
and
[code]
No success :-(
Node is connected so there must be something wrong with my `msg.payload` format. Command line gatttool `char-write-req 0x0012 0064` works fine.

Any ideas?
Thank you.

[2018-01-23 08:09] misosec commented on #4
@dbaba Hello again,
I am sorry to bother you again, but do you have some suggestion what should I try?

Thank you.

[2018-01-23 08:12] dbaba commented on #4
@misosec Sorry for late response. Can you post your flow? I can look into it though I don't have the device.

[2018-01-23 08:16] misosec commented on #4
@dbaba Hello,
I posted it few messages back. Or do you need something else?

[2018-01-23 08:19] dbaba commented on #4
@misosec I need an entire JSON text. Can you try to export the current flow and paste here?

[2018-01-23 08:33] misosec commented on #4
@dbaba Oh, I see. Sur here it is:
[code]

[2018-01-23 09:03] dbaba commented on #4
@misosec Can you change the payload type to JSON in the trigger node? The current type `az` means a plain text. So BLE node assumes the payload data sent from the trigger node as an invalid message and it doesn't do anything in the end.
<img width="932" alt="candy_red_rpi_000000006c3ddff0___raspberrypi_local" src="https://user-images.githubusercontent.com/1858156/35266661-45722b6c-0067-11e8-80a7-b

[2018-01-23 09:08] misosec commented on #4
@dbaba Hello again,
I had it that way all the time, this was in `az` mode just by accident...
[code]

[2018-01-23 09:19] misosec commented on #4
@dbaba IT'S ALIVE!!! It was just a typo! Would you believe it??
I am so sorry to waist your time!
Thank you!

[2018-01-23 09:20] #4 closed

[2018-01-24 17:48] bricewge opened #6 "Add option to never disconnect intentionally"
In some case it is necessary to keep a constant connection with a BLE device, which doesn't seems to be the case at the moment. As I understand this node will connect and then disconnect from a device constantly:

https://github.com/CANDY-LINE/node-red-contrib-generic-ble/issues/4#issuecomment-356544213

What I'm trying to do is to subscribe to `Notify` events when the button of an [iTag](https://

[2018-03-04 20:14] matthiasbock opened #7 "Unable to use more than one BLE node in one flow"
Version: 2.0.2 installed from https://flows.nodered.org/node/node-red-contrib-generic-ble

When adding one "Generic BLE in" or "Generic BLE out" type node to a flow, we have successfully read respectively written two Bluetooth Smart devices' GATT characteristics (one device is always read, one always written to).
However, when combining both BLE in and BLE out nodes in one flow, it appears that on

[2018-03-05 04:19] dbaba commented on #7
Can you please post a flow so that I can reproduce the issue?
And if possible, can you try the latest version (2.0.3) of the node?

[2018-03-05 15:55] matthiasbock commented on #7
Trying another version is difficult for me, because I wouldn't know how/where to upgrade it. I'm not that familiar with node.js. But I can provide my flows JSON:

![image](https://user-images.githubusercontent.com/1587578/36984646-aae2a046-2095-11e8-8af5-87afe65af646.png)

[code]

[2018-03-12 07:24] dbaba opened #8 "Won't work with noble@1.9.x"
This node doesn't work with noble@1.9.0 on, at least, Raspbian but its package.json allow users to install noble@1.9.x.

[2018-03-12 07:54] #8 closed

[2018-03-12 08:28] dbaba commented on #7
You can re-install it by one of the following methods:

1. Click menu icon(三), choose `Manage palette` and enter `ble` to filter this node. And you will find a button to upgrade it.
1. On the command terminal, `cd ~/.node-red; npm uninstall node-red-contrib-generic-ble; npm cache clean; npm install node-red-contrib-generic-ble`

Regarding the issue you reported, I'd say the device requires some de

[2018-04-10 10:38] pychuu opened #9 "it only works right after "Deploy""
Hello. (sorry for mi english).
I am using your node to communicate with a xiaomi temperature and humidity sensor.
I have node-red over a raspberry pi 3 and I'm using the internal bluetooth of the raspberry.
The node only works when I do a "deploy", then the node stops "timeout". And it does not work until the next "deploy".
It works only when connecting for the first time after the "deploy".
Any i

[2018-05-04 02:20] test17V opened #10 "logic problem about device having short connection time"
I mention I have a few knowledge about node.js

recently, I've been tested connecting BLE based devices with node-red, using node-red-contrib-generic-ble module.

but, there is a problem.

for example, I make up commuincation between device and node-red.

Only, the device has short connection time to save battery(ex. about a 50ms).

In this test environment, Generic BLE for Write module requests U

[2018-05-20 08:51] venetanji commented on #8
This seem to break support for macosx. What is the issue with noble 1.9.1?

[2018-09-03 23:14] dbaba commented on #6
As of 3.0.0, you can keep a peripheral connected while receiving `Notify` events.
Pass the following message to `Generic BLE in` node to subscribe `Notify` events.
[code]
`period` is the time to subscribe in milliseconds.
Providing `0` period keeps subscribing until re-deploying a flow or shutting down the process.

[2018-09-03 23:14] #6 closed

[2018-09-03 23:16] dbaba commented on #7
Close the issue. You can reopen it if necessary.

[2018-09-03 23:16] #7 closed

[2018-09-03 23:29] dbaba commented on #10
Periodical peripheral connection/disconnection caused the delay by Read/Write operations.

As of 3.0.0, I stripped the above behavior so Read/Write operations will be performed right after connecting a peripheral.

Well, 50ms seems to be too short to perform operations (Read/Write).
But you can try the new version of the node.

[2018-09-03 23:29] #10 closed

[2018-09-03 23:31] dbaba commented on #9
Can you please evaluate the latest version (3.0.0)?
Reopen the issue when you have still the problem.

[2018-09-03 23:31] #9 closed

[2018-10-11 09:18] jhavik opened #11 "I am a new user of node red, i need help"
i am working on a project that need to control a device via ble uart. i am using generic ble nodes on node red. my flow is as follows: timestamp -> function where i send the buffer as msg.payload -> generic-ble -> debug. but i can't get the result that i want. whatever the value i push in, i get the same result from the debug
[code]

[2018-10-26 16:56] Perr opened #12 "Dongle not showing/no devices"
I am trying to get this library to work but I'm having issues selecting the device. I bought a CSR dongle and can't get anything to show up in Node-Red.

![image](https://user-images.githubusercontent.com/476347/47580966-882c0f00-d950-11e8-9f8d-09835d860588.png)

![image](https://user-images.githubusercontent.com/476347/47581066-bdd0f800-d950-11e8-931d-945dc0b32dc5.png)

I hope someone can help me

[2019-01-12 11:00] Yury777 opened #13 "I can't get value from characteristics"
Hello!
Please, help me... I can't get value from characteristics for send to mqtt.
I want to send string type, but I have only object msg.payload.characteristics['000015241212efde1523785feabcd123']

[2019-01-12 11:39] misosec commented on #4
@Hans-S
Hello,
I used similar approach as described here: https://medium.com/@urish/reverse-engineering-a-bluetooth-lightbulb-56580fcb7546

[2019-01-12 11:57] Hans-S commented on #4
Oke @misosec , thanks.  Can you tell me what the typo was you made? How did you get it working?

[2019-01-12 12:04] misosec commented on #4
@Hans-S
It was just a typo in `uuid`
Btw, this BT node just stop working for unknown reason (may be reinstall raspbian would help but I am too lazy) so I am using just simly `exec` node with:
`sudo gatttool -i hci0 -b XX:XX:XX:XX:XX:XX --char-write-req -a 0x0056 -n 0062ffbf`
XXs are MAC of your device.

[2019-01-21 00:41] janeksz opened #14 "unable to install on rpi"
unable to install on rpi 3 B+

[2019-02-01 02:12] dbaba commented on #14
Thank you for the report. The module `node-bluetooth-hci-socket` doesn't seem to support Node 10([See the issue](https://github.com/noble/node-bluetooth-hci-socket/issues/84)).
Try Node 8 instead for the node until it support Node 10.
Leave this issue open until this node is installable on Node 10.

[2019-02-01 08:37] dbaba commented on #14
Re-flashing an OS image (Raspbian Stretch Lite, not Desktop) then installing a specific version of Node.js is the easiest way.

I don't use the Desktop version of Raspbian so unfortunately I don't have a good suggestion for it. You can ask help on RPi forum.

[2019-02-19 06:07] GrigoriyKostyuk commented on #12
Do the next steps, if every step is successful, then you have to do something with node-red(it may be installation of some packages):

Try to install bluez for your linux version:
`root@debian:~# apt-get install bluez`
then
`root@debian:/# hciconfig`
it is looks like:

	hci0:   Type: Primary  Bus: USB
			BD Address: 00:1A:7D:DA:71:0F  ACL MTU: 310:10  SCO MTU: 64:8
			UP RUNNING PSCAN
			RX bytes:

[2019-02-19 06:16] GrigoriyKostyuk commented on #11
you do not need a function between timestamp and generic-ble if you want to get value from BLE device.
Show me the function where you send the buffer as msg.payload.

[2019-02-19 06:33] GrigoriyKostyuk commented on #13
test it with debug node.
if you have something like this :
![image](https://user-images.githubusercontent.com/44873807/52994411-bf4e9080-3417-11e9-9696-93a58c39cce5.png)

just klick on "characteristics" and choose the UUID you need to read:
![image](https://user-images.githubusercontent.com/44873807/52994182-08eaab80-3417-11e9-9d5d-663a9ae1b1f1.png)

what in the "buffer" shows, that is your value

[2019-03-02 19:30] DaveOke commented on #14
Got this working on Node 10.

1. Git Clone
2. edit package.json. Change noble to "@abandonware/noble": "^1.9.2-1"
3. npm install
4. gulp build
5. npm pack
6. In node-red folder: npm install --unsafe-perm /path/to/node-red-contrib-generic-ble/node-red-contrib-generic-ble-3.0.0.tgz
7.  setcap cap_net_raw,cap_net_admin+eip $(eval readlink -f /usr/bin/node)
8. run node-red from cmd-line. You should se

[2019-03-04 01:44] dbaba commented on #14
Thanks @DaveOke
Let me check the steps.

[2019-03-17 16:29] Travelbacon opened #15 "Add option for random GAP address"
Is it possible to add the option to set random GAP address?

In testing I found out that a device that is not connectable in Generic BLE has the same issue in Gattool. In Gattool I can fix this by using the random GAP address option. So, I thought that this random GAP Address option might also fix my issue in this node.

[2019-03-17 22:03] Travelbacon commented on #15
Never mind. It is just the quirkiness off Bluetooth.

[2019-03-17 22:03] #15 closed

[2019-03-18 21:56] mrmurb commented on #14
Any update on this?
This project works fine for me using `@abandonware/noble` as a substitute for the original version. This also fixes problems when running on node versions higher than 8 aswell.

[2019-04-12 20:01] XanxusVerVR opened #16 "Unable to scan other BLE devices"
My question is the same as this one:
[scan result is disabled for me](https://github.com/CANDY-LINE/node-red-contrib-generic-ble/issues/5)
hcitool can see other BLE devices, as shown below:
<img width="363" alt="Screen Shot 2019-04-13 at 3 32 38 AM" src="https://user-images.githubusercontent.com/25560358/56062840-50027680-5da0-11e9-9632-2cf85c98b3d1.png">

But why can't BLE Node see it?
![Screen S

[2019-04-17 14:00] nishant2019 commented on #14
I am facing issues please help.i am attaching logs

usb@1.3.3 install /home/openhabian/node-red-contrib-generic-ble/node_modules/usb

node-pre-gyp WARN Using request for node-pre-gyp https download
node-pre-gyp WARN Tried to download(404): https://github.com/tessel/node-usb/releases/download/1.3.3/usb_bindings-v1.3.3-node-v64-linux-arm.tar.gz
node-pre-gyp WARN Pre-built binaries not found for usb@

[2019-04-17 14:10] nishant2019 commented on #14
Can you please give detailed guide for setup

[2019-04-17 14:12] DaveOke commented on #14
Just off the top of my head, using –unsafe-perm has resolved nodegyp build issues for me in the past.

From: nishant2019 <notifications@github.com>
Reply-To: CANDY-LINE/node-red-contrib-generic-ble <reply@reply.github.com>
Date: Wednesday, April 17, 2019 at 10:10 AM
To: CANDY-LINE/node-red-contrib-generic-ble <node-red-contrib-generic-ble@noreply.github.com>
Cc: OKE David <david.oke@hexagon.com>,

[2019-04-17 14:22] nishant2019 commented on #14
were you able to install the library

[2019-05-16 20:44] Travelbacon opened #17 "Add @abandonware/noble as dependency"
I would suggest to replace noble with @abandonware/noble as depdency.
The maintainer of node-bluethooth-hci-socket isn't updating support for V10. So, this node node and noble no longer work with the newest version.
See: https://github.com/noble/node-bluetooth-hci-socket/issues

https://github.com/abandonware has the (temporary) solution for this.

[2019-05-16 20:55] Travelbacon commented on #14
For now the solution is make a local installation by changing the source code from Github. I will show you how.

Make a git clone of this repository.
git clone https://github.com/CANDY-LINE/node-red-contrib-generic-ble.git

Edit src/generic-ble.js
In line 17 change
import noble from 'noble';
to
import noble from '@abandonware/noble';

Edit package.json
In line 62 change
 "noble": "~1.8.1",
to
 "@a

[2019-06-03 08:16] #14 closed

[2019-06-03 08:25] dbaba commented on #14
Hi, I've just published `v3.1.0` a new release including `@abandonware/noble` dependency.
I had experienced a weird segmentation fault after updating the dependency so I needed time to look into the issue (fortunately, I found it wasn't related to the update though).
Sorry for late release.

[2019-06-03 08:26] dbaba commented on #17
@Travelbacon Thank you for the feedback. I've published a new release including the dependency.

[2019-06-03 08:26] #17 closed

[2019-06-24 08:48] Eystorhaf opened #18 "Cannot drag "Generic ble X" node to flow"
Dear all,

I installed the package and all respective nodes are appearing in the palette overview.
But I cannot drag one of the nodes to my flow. Any idea why this might be happening?

Best regards,

Matthias

[2019-07-05 00:51] akobelan commented on #18
I had the same issue. Modify your settings.js file such that:

`// To enabled pretty-printing of the flow within the flow file, set the following
    //  property to true:
    flowFilePretty: true,`

Then your flows*.json file will format nicely when you "Deploy". Stop node-red and open your favourite editor on flows*.json. Search for BLE. Here are two in my flows*.json file.

`    {
        "id":

[2019-07-05 00:59] akobelan commented on #16
I'm having the same issue. According to the internet folklore I've gathered, it is suggested to run node-red as sudo / root. That's not a good idea from many perspectives.

According to [https://wiki.ubuntu.com/Security/Privileges#Use_Bluetooth_devices](url), section 16, the secret is in configuring the bluetooth.conf to allow your node-red user to "access" the bluetooth devices, and presumably ga

[2019-07-05 06:44] dbaba commented on #18
@Eystorhaf Are you using Node-RED v0.20.6? If so, this is a NR issue. Use v0.20.5 or before. The incoming NR release includes the issue fix according to the NR developer team.

[2019-07-22 17:17] thomaslc66 commented on #16
Same problem here ! Scanner is not working, and raspberry pi inboard bluetooth card is not detected.

[2019-07-29 20:24] Ghuru42 opened #19 "How to disconnect?"
I have read and notify working.
But after doing a read, how do I get the node to disconnect from the ble device?

[2019-08-21 18:05] coolchip commented on #19
Thanks for that fantastic node! Unfortunately I also need to disconnect and reconnect my device after every request. A possibility to disconnect and reconnect would be very fine!
Perhaps this can happen, if a message with msg.disconnect arrives.

[2019-08-23 04:50] EugenWiens commented on #19
I have also the same use case, my ble device bread a disconnected for some operations.

Thank you for the very cool Node. 👍

[2019-09-12 06:06] acteq commented on #16
see the dependency package noble, it tells us how to enable node ble scan.

ref  https://www.npmjs.com/package/@abandonware/noble

Running without root/sudo
Run the following command:

sudo setcap cap_net_raw+eip $(eval readlink -f `which node`)

This grants the node binary cap_net_raw privileges, so it can start/stop BLE advertising.
Note: The above command requires setcap to be installed, it can

[2019-10-04 08:37] cbrandlehner opened #20 "link to example not working"
The link to the example flow is not working.

[2019-10-04 12:20] #20 closed

[2019-10-04 12:21] dbaba commented on #20
Thank you very much for the report and PR.

[2019-10-04 12:22] dbaba commented on #18
Close this. You can re-open this if you still find the same issue.

[2019-10-04 12:22] #18 closed

[2019-10-05 12:19] aeremin opened #25 "characteristics are undefined when using Notify"
I am using Generic BLE In node. I was able to succesfully set it up and connect to my BLE device.
When I am sending message
[code]
as an input, I successfully get something like
[code]
as an output.

Buth when input is
[code]
I get output events every time relevant characteristic changes, but they look like this:
[code]
I am running on Raspberry Pi 3 with recent Raspbian Buster:
5 Oct 13:07:38 - [

[2019-11-18 00:52] dbaba commented on #25
Weird. characteristics shouldn't be `undefined` when an event message arrives at Raspberry pi from a BLE peripheral. At least, it should contain a property entry `notification: true` (see this [code](https://github.com/CANDY-LINE/node-red-contrib-generic-ble/blob/3.1.0/src/generic-ble.js#L517)).
So the message (`_msgid: '48901e10.8f95'`) you showed seems not to related to the event message.

Do yo

[2019-11-18 01:37] dbaba commented on #19
Thank you for the feedback and sorry for late reply.
Unfortunately, this version of node tries to keep connection once it's established (re-connect on disconnection).
Will change the behavior in the coming major version update.

[2020-01-04 17:28] mikeyb5753 commented on #12
Did you manage to get this working as I have the same issue.

[2020-01-08 21:18] harriedegroot opened #26 "l"

[2020-01-08 21:18] #26 closed

[2020-01-17 14:18] stepanurban opened #27 "Connecting Arduino nano 33 BLE"
Hi,
I'm trying to connect Arduino nano 33 BLE board. When I use gatttool in command line everything works fine. But in node-red in Generic BLE node after Select from scan result it will return no GATT Characteristics. Only (not available) is in table. On Arduino side I'm using this code: https://github.com/arduino-libraries/ArduinoBLE/tree/master/examples/Peripheral/BatteryMonitor
Also when I try

[2020-02-27 08:40] IoTcreator opened #28 "dlcolforl ofrp"

[2020-02-27 08:40] #28 closed

[2020-04-25 15:34] dowhiletrue opened #30 "addressType random for Philips Hue BLE"
Using `gatttool -t random` I'm able to control my Philips bulb BLE. Is there an option in node-red-contrib-generic-ble to switch from `addressType=public` to `random` as described in [noble](https://github.com/abandonware/noble#event-peripheral-discovered)?

[2020-04-25 17:40] gobo-ws commented on #30
@dowhiletrue Not related to your question but can you please share any example how you use GATTTool with a Hue BLE bulb? Thanks!

[2020-04-26 06:58] dowhiletrue commented on #30
@gobo-ws e.g. `gatttool -t random -b [MAC] --char-write-req --handle=0x0027 --value=01` to turn the light on. More about the characteristics can be found [here](https://www.reddit.com/r/Hue/comments/eq0y3y/philips_hue_bluetooth_developer_documentation/).

[2020-04-26 09:34] gobo-ws commented on #30
@dowhiletrue Many thanks!

[2020-04-26 17:19] dowhiletrue commented on #30
With debug enabled the following error is reported:
`[error] [Generic BLE in:a883f0.0bf93c1] <undefined> read: (err:TypeError: Converting circular structure to JSON)`

Does anybody have the same issue?

[2020-04-28 11:40] mypi-home opened #31 "Neither tool works and nothing in hcitrace"
Hi there,

I have been unable to get these tools to work after many hours of trying.

I am able to use Gatttool interactive mode (non interactive mode doesnt work) and connect to my BLE device, read data and control it so I have validated the handles and UUIDs I am using.

My first issue like other have experienced is that Node did not have access to the bluetooth driver - I could not see anything

[2020-05-02 23:37] dbaba commented on #30
Unfortunately, the random address type is not supported in this version.

[2020-05-04 06:04] #30 closed

[2020-05-06 00:27] dbaba commented on #31
It seems the node failed to find the given UUID of the characteristic to read.
You can find all characteristics in the trace log when trace log is enabled.
In order to enable it, you can run the following command:

[code]

[2020-05-14 08:57] LeoL5 opened #32 "Scan result BLE devices"
Hello everyone!
This is my first post in this forum and I don't know if the topic has already been covered in other posts.
I would like to use the node-red-contrib-generic-ble library for my application, in which I would like to read the data sent via a Bluetooth Low Energy device.
I installed through the manage palette and it seems to have been successful.
However when I go to the configuration w

[2020-05-20 04:42] dbaba commented on #32
If you're running Node-RED on Raspberry Pi or other linux box, try the latest version (4.0.0).
Read [Installation Note](https://github.com/CANDY-LINE/node-red-contrib-generic-ble#installation-note-linux) as well when you install the latest version.

[2020-05-20 04:45] dbaba commented on #27
If you're running Node-RED on Raspberry Pi or other linux box, try the latest version (4.0.0).
Read [Installation Note](https://github.com/CANDY-LINE/node-red-contrib-generic-ble#installation-note-linux) as well when you install the latest version.

The older version used a raw HCI socket which caused problems like this (gatttool worked but the node didn't). The latest version uses BlueZ D-Bus API

[2020-05-20 04:48] dbaba commented on #19
As of v4.0.0, connect/disconnect requests are available. Import the example flow after installing/updating the node.

But read [Installation Note](https://github.com/CANDY-LINE/node-red-contrib-generic-ble#installation-note-linux) carefully when you install it on Raspberry Pi or other Linux boxes.

[2020-05-20 04:48] #19 closed

[2020-05-20 04:48] dbaba commented on #32
Re-open this when you still have problem with the latest version.

[2020-05-20 04:48] #32 closed

[2020-05-20 04:49] dbaba commented on #31
Re-open it when you have update.

[2020-05-20 04:49] #31 closed

[2020-05-20 04:49] dbaba commented on #27
Re-open this or issue a new one when you have a problem with the latest version.

[2020-05-20 04:49] #27 closed

[2020-05-20 04:51] dbaba commented on #16
If you're running Node-RED on Raspberry Pi or other linux box, try the latest version (4.0.0).
Read [Installation Note](https://github.com/CANDY-LINE/node-red-contrib-generic-ble#installation-note-linux) as well when you install the latest version.

The older version used a raw HCI socket which caused problems like this (gatttool worked but the node didn't). The latest version uses BlueZ D-Bus API

[2020-05-20 04:51] #16 closed

[2020-05-20 04:52] #13 closed

[2020-05-20 04:52] #11 closed

[2020-05-20 04:54] dbaba commented on #12
If you're running Node-RED on Raspberry Pi or other linux box, try the latest version (4.0.0).
Read [Installation Note](https://github.com/CANDY-LINE/node-red-contrib-generic-ble#installation-note-linux) as well when you install the latest version.

Re-open this or issue a new ticket when you have a problem with the latest version.

[2020-05-20 04:54] #12 closed

[2020-05-20 04:54] dbaba commented on #25
Re-open this when you have update.

[2020-05-20 04:54] #25 closed

[2020-05-20 08:36] cbrandlehner opened #33 "module fails to load after upgrade to 3.1.0"
from the Node-red log:

`May 20 10:34:23 rpi3 Node-RED[801]: 20 May 10:34:23 - [warn] [node-red-contrib-generic-ble/generic-ble] Error: Cannot find module '../../node_modules/@abandonware/noble/lib/noble'`

[2020-05-20 08:51] cbrandlehner commented on #33
Update:
The problem occured after updating from 3.1.0 to 4.0.0

[2020-05-20 08:57] cbrandlehner commented on #33
I did the following to restore:
`
rm -r node_modules/node-red-contrib-generic-ble/
npm install node-red-contrib-generic-ble@3.1.0
`

old version 3.1.0 is working fine.

[2020-05-20 09:00] dbaba commented on #33
Thank you for the report. Fixed the issue and published v4.0.1.

[2020-05-20 09:00] #33 closed

[2020-06-17 11:35] radionoise opened #34 "Cannot find module @abandonware/noble/lib/resolve-bindings"
Not working on macOS Catalina 10.15.5
[code]

[2020-06-18 02:41] dbaba commented on #34
Thanks for the report. Just published the bug fix (4.0.2).
Re-open the issue when you still see the same error.

[2020-06-18 02:41] #34 closed

[2020-07-12 16:46] JasonBSteele opened #35 "Feature suggestion: Automatically reconnect"
Hi,

I am using a Nano BLE Sense device to listen for sounds, and then infer what they are. If the sound is other than background noise it sends a Notify to the central.

This all works fine, but the Nano device is prone to the occasional disconnection due to it's weak radio. Unfortunately this means I need to connect again, and this is currently done with an Inject. I guess I could monitor the st

[2020-07-12 16:51] JasonBSteele opened #36 "Multiple notifications for the same characteristic"
Hi,

I am using a Nano BLE Sense device to listen for sounds, and then infer what they are. If the sound is other than background noise it sends a Notify to the central.

There is only one characteristic and when I first set it up it was working fine with a single message being out put when the Notify was sent. However after reconnecting, and the resubscribing for notifications I found that two me

[2020-07-13 04:14] dbaba commented on #36
Thank you for the report.
Let me check the notification behavior when a device is reconnected.

[2020-07-13 04:32] dbaba commented on #35
Interesting. Let me try it.

[2020-07-14 11:13] JasonBSteele commented on #35
I set up a Status listening node to connect when disconnected. This deals with the issue most of the time, however occasionally the status is stuck at disconnected or missing. In these cases I find it necessary to go back into the config node and untick the scanning checkbox, then tick it again. When I do this it immediately finds the device and then the status listener does the connection.

[2020-07-15 05:09] dbaba commented on #36
Mmm, I couldn't reproduce the duplicate notification.

I used TI's Sensor Tag to test with the example flow included in this node (menu => Import => Examples => node-red-contrib-generic-ble => 01-read-write). I modified the notification period from 5 to 0 in the flow and deployed it.

What I did is

1. Connect to a peripheral by sending `"topic": "connect"`
1. Start Temperature Measurement
1. Subs

[2020-07-15 05:36] dbaba commented on #35
I observed that while reproducing an issue. Scanning on/off commands seems to be required in some cases.

[2020-07-15 11:37] JasonBSteele commented on #36
Well those repro steps all sound right. I'll do some more investigation. On 15 Jul 2020 06:09, Daisuke Baba <notifications@github.com> wrote:
Mmm, I couldn't reproduce the duplicate notification.
I used TI's Sensor Tag to test with the example flow included in this node (menu => Import => Examples => node-red-contrib-generic-ble => 01-read-write). I modified the notification period from 5 to 0 in

[2020-07-15 16:13] JasonBSteele commented on #36
I have just completed some testing on this and found the following:
1. I was getting 6 notification messages for each Notify
2. Just Disconnect, Connect => I didn't get any
3. Disconnect, Connect, Subscribe ( `{"notify":true, "period":0 }`  ) => I got 6 notifications.
4. Arduino power Off, On, Connect, Subscribe => I still got 6 notifications.
5. Redeploy Node Red Flow, Connect, Subscribe => I sti

[2020-09-10 09:29] sameerapip1 opened #39 "cannot receive notification from Bluetooth device"
When we try to get the notification we receive the following error. When using the same command in the NRF command it gives the data correctly.

(node:4511) UnhandledPromiseRejectionWarning: DBusError: Operation failed with ATT error: 0xff
    at _methodReturnHandlers.(anonymous function) (/home/pi/.node-red/node_modules/dbus-next/lib/bus.js:339:27)
    at handleMessage (/home/pi/.node-red/node_mo

[2020-09-11 02:25] dbaba commented on #39
The error was thrown by BlueZ's [gatt_client.c](https://github.com/bluez/bluez/blob/master/src/gatt-client.c#L299) module, which means the issue is related to raw packet problem and out of Node-RED/Node.js process scope.
So you may want to check the connection between your BLE device and your Node-RED host device by using BlueZ CLI commands such as bluetoothctl, or other dbus CLI tools to test the

[2020-11-04 16:56] JsBergbau opened #40 "BLE Scanning gets automatically enabled"
If you change something on the BLE node, BLE scanning gets automatically enabled/checked
![grafik](https://user-images.githubusercontent.com/37013344/98141447-eccabe80-1ec6-11eb-9430-4fd9c8dca518.png)
However this behaviour is undesired, because you can't connect when Node shows "missing". If you disable "BLE Scanning" than you can connect immediately.

[2020-11-04 17:03] JsBergbau opened #41 "Incoming notifications are not send to output"
I have this flow with a debug node
![grafik](https://user-images.githubusercontent.com/37013344/98142059-a164e000-1ec7-11eb-9d88-3fd757f85514.png)
However debug node stays empty, but when connecting with gatttool, I get every few seconds an incoming notification handle
![grafik](https://user-images.githubusercontent.com/37013344/98142245-d5400580-1ec7-11eb-9799-6957e1efe559.png)
Checkbox for notif

[2020-11-05 01:28] dbaba commented on #40
This node never checks the item automatically but just shows the current state of bluetooth discovery mode (scanning mode).
So if some apps/programs using Bluetooth modify the scanning mode, the checkbox state is affected as well.
I'd say you're using such apps/programs on your machine. Could you please review these applications' bluetooth settings/behavior?

[2020-11-05 08:05] JsBergbau commented on #40
Its a Raspbian lite without a graphical UI, so I don't think that there is running anything which automatically scans.
I have two nodes. One Generic BLE in, one Generic BLE out. If I change anything in Generic BLE in, the checkbox is checked of this node. If I go then to the second node "Generic BLE out", the checkbox remains unchecked. Only if in both nodes the checkbox is unchecked, I can connec

[2020-11-17 07:16] Fungusware opened #42 "[error] BlueZ Permission Error"
Hi, hope you can help.

I have followed the details in the https://flows.nodered.org/node/node-red-contrib-generic-ble installaton notes but I just cannot seem to get this working.

Scanning immediately gives me the Error.

`cat /etc/group | grep bluetooth`

returns

`bluetooth:x:112:pi`

NODE-Red is started with

`node-red-start`

[2020-11-17 08:58] dbaba commented on #42
Did you run `sudo reboot` after `usermod`? Reboot is required after changing the group.
If yes, check if your board has BLE. Only RPi3A+, RPi3B+ and RPi4 have BLE. See the raspberrypi.org [products list](https://www.raspberrypi.org/products/) for detail.

[2020-11-17 10:57] Fungusware commented on #42
Indeed, I have done all these things.

I can use *gatttool *to read and write to my device from the command line
and all other bluetooth tools work as expected.. But Node-Red is always
giving the permissions error.

Thanks for getting back to me, if I can get this resolved, I will be
overwhelmingly happy!. It's the last piece in our puzzle.

Regards

On Tue, Nov 17, 2020 at 4:58 PM Daisuke Baba <n

[2020-11-18 00:38] dbaba commented on #42
mmm...
Can you please post the actual error message? And /var/log/syslog as well, which probably contains the more precise error message.
The permission error is caused by wrong bluetoothd configuration. I'd say you're running NR by other user than pi but I'm not sure if it is. In order to identify the error cause, give me the above info.

[2020-11-18 01:42] Fungusware commented on #42
Hi,

Sure can.

Error Message in the console - *http://192.168.5.114:188018
<http://192.168.5.114:188018> Nov 00:43:16 - [error] BlueZ Permission
Error. See 'Installation Note' in README at
https://flows.nodered.org/node/node-red-contrib-generic-ble
<https://flows.nodered.org/node/node-red-contrib-generic-ble> for
addressing the issue.*

I have attached a few of the logs

On Wed, Nov 18, 2020 at 8

[2020-11-18 02:07] dbaba commented on #42
Thanks. Need more precise info.

Can you please change the log settings as shown below?
The following setting outputs only this node logs. NR logs are disabled.

[code]

Then try to cause the above error. The console shows precise log info, so you can post it in this thread.

In order to revert the change, just remove the appended line from `/lib/systemd/system/nodered.service` file.

[2020-11-18 02:33] Fungusware commented on #42
Hi,

Sorry, this doesn't seem to report any further information to the Console.
The file is edited as shown below.

[image: image.png]

[image: image.png]

I could setup a remote session if you are willing, as your help is very
much appreciated.

Regards

On Wed, Nov 18, 2020 at 10:07 AM Daisuke Baba <notifications@github.com>
wrote:

--
--
John Anderson
Fungusware
http://fungusware.com
http://www

[2020-11-18 03:46] dbaba commented on #42
Unfortunately, no image is available. Can you upload the image files from the github site with the browser?

[2020-11-18 04:03] Fungusware commented on #42
![unnamed](https://user-images.githubusercontent.com/19951860/99481847-f60f5d00-2995-11eb-90db-7c89fffb71d7.png)
![image](https://user-images.githubusercontent.com/19951860/99481850-f7d92080-2995-11eb-86b3-69b2fa5dd798.png)

[2020-11-18 04:55] dbaba commented on #42
Thanks. I've published the revised version of this node in order to provide more error info on the console.
Could you please upgrade the node to v4.0.3 and post the error info here?

[2020-11-18 05:22] Fungusware commented on #42
Yes, much more information now. See attached.
![2020-11-18_13-21-18](https://user-images.githubusercontent.com/19951860/99487344-12fd5d80-29a1-11eb-9690-b6584344760b.png)

[2020-11-18 06:29] dbaba commented on #42
Well, the error is just a permission error...
It should be resolved by adding pi user group to bluetooth group.

Again, let me check your environment. Can you please provide the following command results?

[code]

Mine is as follows.

[code]

So far, I cannot reproduce the error with the latest OS image (Raspberry Pi OS Lite, Release date: August 20th 2020).
So using the latest lite image may reso

[2020-11-18 07:04] Fungusware commented on #42
Sure,

He is the information

pi@pi-gpt:~ $ groups pi
pi : pi adm dialout cdrom sudo audio video plugdev games users input netdev
bluetooth spi i2c gpio
pi@pi-gpt:~ $ uname -a
Linux pi-gpt 5.4.51-v7+ #1333 SMP Mon Aug 10 16:45:19 BST 2020 armv7l
GNU/Linux
pi@pi-gpt:~ $ dpkg -l | grep dbus
ii  dbus                           1.12.20-0+deb10u1
armhf        simple interprocess messaging system (daemon

[2020-11-18 08:47] dbaba commented on #42
- pi user is belonging to bluetooth group
- OS seems to be identical to mine
- dbus version is same

Unfortunately, I have no idea to resolve the issue.
Can you please use the fresh OS image without adding ANY packages/programs except Node-RED and this node?
I tried the fresh OS image(Raspberry Pi OS Lite) and I confirmed it worked without any issues.

[2020-12-26 07:56] Xlagrap commented on #40
Hello,

I have exactly the same problem.

Thanks for your help.

[2021-01-11 04:10] saket424 commented on #40
Can there be a programmatic way to uncheck it each time the flow is started or re-deployed ? Currently, I have to do it manually to get it out of missing state. Sounds like I am not alone. Thanks

[2021-01-11 04:47] saket424 commented on #40
For those of you encountering this issue, Issuing a POST http request to stop and start scanning gets it out of the "missing" state to the "disconnected" state.

http://nodered-ipaddress:1880/__blescan/stop followed by http://nodered-ipaddress:1880/__blescan/start

After that, the connect inject request to Generic BLE In succeeds and puts the device in the "connected" state

[2021-01-17 08:22] jholubec opened #44 "Undefined status"
I would like to get status info of the "Generic BLE in" node using "node-red: status". But status node sends "msg.payload : undefined" for any status change of  the "Generic BLE in" node.

Any idea how to solve it?

[2021-01-17 15:12] galook commented on #44
As defined in the documentation, `msg.payload` is not being defined by this module. Instead, `msg.status` should be used

Please close this issue, as this error originated by not reading the documentation

[2021-01-18 08:05] jholubec commented on #44
Closing ...

[2021-01-18 08:05] #44 closed, assigned to nobody

[2021-01-19 02:22] dbaba commented on #40
@saket424 Thank you for the info. Can you please share your flow file by pasting it to the comment? It would help find a possible bug.

[2021-01-19 17:19] saket424 commented on #40
@dbaba , here you go

[code]

[2021-01-23 18:04] twocolors commented on #42
hi, plz help how use this node in "docker nodered/node-red:latest-minimal"

[code]

node-red run from user 'node-red' in Alpine Linux

[2021-01-24 08:52] twocolors opened #45 "run on docker"
hi, plz help how use this node in "docker nodered/node-red:latest-minimal"

[code]

node-red run from user 'node-red' in Alpine Linux

[2021-01-27 09:15] twocolors commented on #45
maybe add use docker 'hci socket' ?

[2021-01-28 16:20] twocolors commented on #45
@dbaba can you help ?

[2021-01-29 04:28] anvarakhmedov opened #46 "Hue Bulb: Problem with sending a value to handle 0x0027"
I am trying to turn my bluetooth Hue bulb on/off and change brightness using my Raspberry Pi 4B. The bulb is on, and I have successfully connected to it using bluez. When I try to run 'char-write-req 0x0027 01' to turn it on, I get this message:

GLib-WARNING **: 22:53:34.807: Invalid file descriptor

I  can see that the connection is successful, but whenever I try to write a value to it, I just g

[2021-01-29 04:50] dbaba commented on #45
The error says Bluetoothd is not running on your container.
Unfortunately, I don't have any idea of the way to running Bluetoothd on Docker since I haven't tried it.
Please ask it in a more appropriate place such as Docker forums.

[2021-01-29 04:59] dbaba commented on #46
Unfortunately, I cannot help to answer it.
I believe the error is caused by gattool. However, this node never uses gattool.
If you need to use gattool, you may want to post the question to the Bluez ML.

[2021-01-29 10:19] twocolors commented on #45
Thanks, the Bluetooth implementation only works in debian based containers, officially build a docker on alpine (https://github.com/node-red/node-red-docker/blob/master/.docker/Dockerfile.alpine)

Have you thought about doing a check if dbus is not available, use '@abandonware/noble' ?

[2021-01-29 12:40] twocolors commented on #45
thanks for the direction to solve the problem, if you need to use a container (docker), then you need to take the host **dbus**

[code]

[2021-01-29 12:40] #45 closed, assigned to nobody

[2021-04-18 12:55] theelims commented on #40
I'm plagued by this bug as well. The work around provided with the HTTP POST did mostly work for me. Interestingly sending the restart scan command to the BLE in node did not solve it. It must be the HTTP POST command. Easy enough to automate, though. Moreover this effect seems to be device dependent. I did not experience this problem when connecting to an Arduino Nano 33 BLE running the LED sampl

[2021-04-21 03:25] habakuk1979 opened #48 "cannot scan with node - Linux Ubuntu Odroid C2(arm64)"
Hello!

I am running:
nodered 1.3.0-beta.1 on
Ubuntu (3.16.85) on
Odroid C2 with bluetooth-Module 2
woth: bluez 5.48

what I tried, Ive done sofar:

=======================
sudo apt-get install bluetooth bluez libbluetooth-dev libudev-dev
sudo usermod -G bluetooth -a **myuser name**
sudo setcap cap_net_raw+eip $(eval readlink -f `which node`)

Then reboot the OS so that the policy changes take eff

[2021-04-24 13:49] habakuk1979 commented on #48
so, no support?

[2021-04-26 19:31] contrabass22 opened #49 "Can't scan or connect to peripheral device without restarting Node-RED"
**Symptoms**
1. Checking "BLE Scanning" in a global Generic-BLE configuration node finds no devices after a long period of waiting. Unchecking, waiting a moment, and re-checking "BLE Scanning" exhibits the same behavior.
2. Trying to connect to a peripheral device fails, and the nodes are in either the "error" or transition to the "missing" state.

**Workaround**
Restart the Node-RED server. Subse

[2021-05-20 06:44] aries84ct commented on #40
Thanks for the POST tip, it works :)

[2021-05-20 08:30] aries84ct opened #52 "Connect to device sending its MAC address"
Hello, is there a way to connect to a BLE device (input or output) sending its MAC address in input, instead of associate the device statically to the node?

Thanks

[2021-05-23 20:26] habakuk1979 opened #53 "Cannot write with Generic BLE Out"
Hello!

I am on ubuntu 18.04 with BLUEZ 5.53.
I am using your nodes node-red-contrib-generic-ble V 4.0.3
After fiddling around with the BLE settings for quite a while I finally got the scan working and have alle the UUID-characteristics listed in Generic BLE in /out nodes.

However I went through your help file a thousand times being absolutely sure that my json syntax of my Inject node is correct

[2021-05-26 14:26] happyme531 opened #54 "Add a setting to specify HCI index"
Just ran into this error.  Seems it tried to connect using hci0 but it is unavailable.
[code]

[2021-07-02 10:11] aries84ct commented on #36
Hello, I have the same problem, did you solve it? Thanks for your help

[2021-07-02 10:59] JasonBSteele commented on #36
Sorry, a while ago now and I  can't remember whether I just manged to workaround it or just accept it. I no longer have it running so unable to replicate it.

[2021-07-02 11:05] aries84ct commented on #36
Ok, thanks anyway

[2021-09-25 17:24] bj-tracer commented on #41
I have this problem too.

At gatttool I get messages normal.
At BLE-scanner on smarphone too.
But at Node-Red nothin goin.

[2021-10-04 17:26] habakuk1979 commented on #53
i fixed this - got the wrong handle

[2021-10-04 18:25] habakuk1979 opened #58 "BLE IN node keeps on unpairing and deleting BLE devices - help needed!"
Hello!

I am working on Bluez 5.53 on Kernel 5.13 Ubuntu 18.04

since months I am trying to get this package reliably working now, but I cannot overcome the issue that

the BLE in node

aggressively keeps on **unpairing and even removing** fomerly absolutely correctly paired devices.
(btmon):

---------------------------------------------------
@ MGMT Command: Stop Discovery (0x0024) plen 1

[2022-04-22 00:33] MadhavP opened #60 "No BLE devices show up on scan"
Hi,

I am running node-red on macOS (Monterey 12.1). I am new to node-red and simply want to read BLE sensor data from a peripheral (TI LPSTK-CC1352R) on my macbook.

I am using the node-red-contrib-generic-ble 4.0.3, it installs fine (Screenshot below), I follow the instructions for configuring the 'Generic BLE Out' node.

Here's the issue. On enabling 'BLE Scanning' nothing shows up  ! My termin

[2022-08-08 20:50] bartstech opened #62 "Unable to pull GATT Characteristics"
Hi,

I'm using your BLE node to try and connect to a i-Syst BluePyro module (uses Nordic nRF52832). BTW your node has been the most clearly developed node, along with the tutorial. Bar none above the rest of the nodes in Node-Red and I've pretty much tried them all.
Everything works fine up until pulling GATT Char. Scan sees the module, pulls the MAC etc.
It dies and then generates the below error

[2022-08-08 21:39] bartstech commented on #62
I retract this. All of a sudden it started working. No clue why?!